    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        padding: 20px;
    }
    
    h2 {
        text-align: center;
    }
    
    #form-container {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 30px;
        max-width: 600px;
        margin: 0 auto;
    }
    
    input[type="email"] {
        width: 80%;
        padding: 5px;
        margin-bottom: 10px;
    }
    
    input[type="sdt"] {
        width: 30px;
        padding: 5px;
        margin: 10px 0 10px 0;
    }
    
    button {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 15px;
    }
    
    .back-button {
        position: fixed;
        top: 10px;
        left: 10px;
        color: rgb(6, 6, 6);
        display: inline-block;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
    }
    
    .back-button::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 5px;
        margin-top: -4px;
        width: 8px;
        height: 8px;
        border-top: 2px solid black;
        border-left: 2px solid black;
        transform: rotate(-45deg);
    }