.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    flex-grow: 1;
}

h2 {
    margin-top: 0;
}

.actions {
    text-align: right;
}

.actions a {
    margin-left: 10px;
}

nav {
    background-color: #f2f2f2;
    padding: 15px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.menu-items {
    display: flex;
    font-size: 16px;
}

.menu-items a {
    margin: 0 40px;
    color: #333;
    text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 0;
    border: none;
    border-radius: 2px;
    margin-right: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 2px;
}

.login-btn {
    margin-left: 10px;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 2px;
    color: black;
    font-size: 18px;
}

@import url(http://fonts.googleapis.com/css?family=Baloo+Thambi);
.text-container>span {
    font-family: "Baloo Thambi", cursive;
    font-size: 20px;
    text-transform: uppercase;
    animation: glow 3s ease-in-out infinite;
    animation-delay: var(--delay);
}

@keyframes glow {
    0%,
    100% {
        color: var(--color);
        text-shadow: 0 0 10px #0652dd, 0 0 50px #0652dd, 0 0 100px #0652dd;
    }
    10%,
    90% {
        color: #111;
        text-shadow: none;
    }
}